#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-font {
  color: #5e7793;
}

.head-part {
  display: flex;
  justify-content: space-between;
}

.main-part {
  background-color: #ffffff;
  width: 100%;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

thead tr th {
  font-weight: 400;
}

thead tr th,
tbody tr td {
  padding: 24px;
}

th,
tr {
  border: none;
}

td {
  border: none;
  padding: 10px;
}

tr th,
tr td {
  border-bottom: 1px solid #EAF0FA;
}

.grade {
  height: 26px;
  display: inline-block;
  padding: 3px 6px 1px 6px;
  border-radius: 4px;
}

.grade-excellent {
  color: #00A775;
  background-color: #DBF8EF;
  border: 1px solid #00A775;
}

.grade-good {
  background-color: #D8E4FB;
  border: 1px solid #ADBFDF;
}

.grade-bad {
  color: #EA1A4F;
  background-color: #FEE9EF;
  border: 1px solid #EA1A4F;
}
