#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-font {
  color: #5e7793;
}

.head-part {
  display: flex;
  justify-content: space-between;
}

.block-with-down-arrow {
  display: flex;
  gap: 10px;
  align-items: center;
}

.align-right {
  text-align: right;
}

.main-part {
  background-color: #ffffff;
  width: 100%;
  border-radius: 8px;
}

.duration-text {
  padding-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

thead tr th {
  font-weight: 400;
}

thead tr th,
tbody tr td {
  padding: 24px;
}

th,
tr {
  border: none;
}

td {
  border: none;
  padding: 10px;
}

tr th,
tr td {
  border-bottom: 1px solid #eaf0fa;
}

.grade {
  height: 26px;
  display: inline-block;
  padding: 3px 6px 1px 6px;
  border-radius: 4px;
}

.grade-excellent {
  color: #00a775;
  background-color: #dbf8ef;
  border: 1px solid #00a775;
}

.grade-good {
  background-color: #d8e4fb;
  border: 1px solid #adbfdf;
}

.grade-bad {
  color: #ea1a4f;
  background-color: #fee9ef;
  border: 1px solid #ea1a4f;
}
